@charset "utf-8";
/* common */

body {
  margin: 0 auto;
  padding: 0;
  background-color: rgb(240, 245, 240);
  max-width: 23em;
  min-width: 375px;
}

/* -----------ハンバーガー--------------- */

header {
  display: flex;
  padding: 0 16px;
  background-color: rgb(15, 15, 15);
}

.sp-menu {
  margin-left: auto;
}

.sp-menu #materialOpen {
  font-size: 32px;
  /* line-height: 64px; */
  cursor: pointer;
  color: azure;
  margin-top: 10px;
}

.sp-menu #materialOpen.hide {
  display: none;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(255, 255, 255, 1);
  text-align: center;
  padding: 64px;
  opacity: 0;
  pointer-events: none;
  z-index: 4;
  transition: opacity .7S;
}

.MenuNav {
  margin: 0;
}

.overlay.show {
  opacity: 1;
  pointer-events: auto;
}

.overlay #materialclose {
  position: absolute;
  top: 16px;
  right: 16px;
  font-size: 32px;
  cursor: pointer;
}

.overlay ol {
  list-style-type: none;
}

.overlay li {
  margin: 20% 30% 0 0;
  opacity: 0;
  transform: translateY(32px);
  transition: opacity .1s, transform .7s;
}

.overlay.show li {
  opacity: 1;
  transform: none;
}

.overlay.show li:nth-child(1) {
  transition-delay: .3s;
}

.overlay.show li:nth-child(2) {
  transition-delay: .5s;
}

.overlay.show li:nth-child(3) {
  transition-delay: .7s;
}

/* ------------モーダル部品--------------- */

#open, #close {
  font-size: 1em;
  cursor: pointer;
  width: 10em;
  border: 3px solid rgb(14, 13, 13);
  border-radius: 4px;
  text-align: center;
  padding: 12px;
  margin: 16px auto 20px;
}

#mask {
  background: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
}

#modal {
  background: linear-gradient(to bottom, #00cbd9 0%, #beff44 100%);
  animation: huerotator 3s infinite alternate;
  width: 15em;
  padding: 20px;
  border-radius: 4px;
  position: absolute;
  top: 40px;
  left: 0;
  right: 0;
  margin: 0 auto;
  transition: transform 0.5s;
  z-index: 3;
}

@keyframes huerotator {
  0% {
    filter: hue-rotate(0deg);
  }
  100% {
    filter: hue-rotate(360deg);
  }
}

#modal>p {
  text-align: center;
  text-decoration: wavy underline;
line-height: 3em;
}

#mask.hidden {
  display: none;
}

#modal.hidden {
  transform: translate(0, -500px);
}

/* ---------星の背景 部品 ----------*/

div.container {
  width: 23em;
  height: 190px;
  margin: -20px 0 0 3px;
}

h1.StudyRecord {
  color: #FFF;
  font-size: 4em;
  font-family: 'Apple Chancery', sans-serif;
  display: flex;
  position: relative;
  top: 20%;
  left: 15%;
  letter-spacing: 8px;
}

.StudyRecord .div1 {
  animation: popup 2.3s forwards;
}

.StudyRecord .div2 {
  animation: popup 2.5s forwards;
}

.StudyRecord .div3 {
  animation: popup 2.7s forwards;
}

.StudyRecord .div4 {
  animation: popup 2.9s forwards;
}

.StudyRecord .div5 {
  animation: popup 3.1s forwards;
}

.StudyRecord .div6 {
  animation: popup 3.3s forwards;
}

.StudyRecord .div7 {
  animation: popup 3.5s forwards;
}

@keyframes popup {
  0% {
    transform: none;
    opacity: 0;
    animation-timing-function: cubic-bezier(0, 0.36, 1, 1.01);
  }
  20% {
    transform: none;
    opacity: 0;
  }
  80% {
    transform: none;
    opacity: 0;
  }
  100% {
    transform: translateY(10px);
    opacity: 1;
  }
}

.container {
  position: relative;
  width: 100%;
  height: 300px;
  background: #000b1a;
}

.stars p {
  position: absolute;
  margin: 0;
  padding: 0;
  background: rgb(226, 235, 109);
  animation: flash_anim 4s infinite;
  filter: blur(1px);
}

@keyframes flash_anim {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.2;
  }
}

.stars.s p {
  width: 2px;
  height: 2px;
}

.stars.m p {
  width: 3px;
  height: 3px;
}

.stars.l p {
  width: 4px;
  height: 4px;
}

.stars.s p:nth-of-type(1) {
  top: 5%;
  left: 5%;
  animation-delay: 0;
}

.stars.s p:nth-of-type(2) {
  top: 20%;
  left: 20%;
  animation-delay: 5s;
}

.stars.s p:nth-of-type(3) {
  top: 30%;
  left: 30%;
  animation-delay: 8s;
}

.stars.s p:nth-of-type(4) {
  top: 80%;
  left: 40%;
  animation-delay: 2s;
}

.stars.s p:nth-of-type(5) {
  top: 5%;
  left: 50%;
  animation-delay: 3s;
}

.stars.s p:nth-of-type(6) {
  top: 40%;
  left: 60%;
  animation-delay: 7s;
}

.stars.s p:nth-of-type(7) {
  top: 10%;
  left: 70%;
  animation-delay: 9s;
}

.stars.s p:nth-of-type(8) {
  top: 20%;
  left: 80%;
  animation-delay: 4s;
}

.stars.s p:nth-of-type(9) {
  top: 60%;
  left: 90%;
  animation-delay: 1s;
}

.stars.s p:nth-of-type(10) {
  top: 10%;
  left: 99%;
  animation-delay: 6s;
}

.stars.m p:nth-of-type(1) {
  top: 84%;
  left: 4%;
  animation-delay: 7s;
}

.stars.m p:nth-of-type(2) {
  top: 34%;
  left: 14%;
  animation-delay: 0s;
}

.stars.m p:nth-of-type(3) {
  top: 64%;
  left: 34%;
  animation-delay: 1s;
}

.stars.m p:nth-of-type(4) {
  top: 14%;
  left: 44%;
  animation-delay: 2s;
}

.stars.m p:nth-of-type(5) {
  top: 74%;
  left: 54%;
  animation-delay: 9s;
}

.stars.m p:nth-of-type(6) {
  top: 44%;
  left: 64%;
  animation-delay: 5s;
}

.stars.m p:nth-of-type(7) {
  top: 94%;
  left: 74%;
  animation-delay: 1s;
}

.stars.m p:nth-of-type(8) {
  top: 44%;
  left: 84%;
  animation-delay: 8s;
}

.stars.m p:nth-of-type(9) {
  top: 34%;
  left: 94%;
  animation-delay: 6s;
}

.stars.m p:nth-of-type(10) {
  top: 4%;
  left: 97%;
  animation-delay: 4s;
}

.stars.l p:nth-of-type(1) {
  top: 74%;
  left: 7%;
  animation-delay: 8s;
}

.stars.l p:nth-of-type(2) {
  top: 47%;
  left: 17%;
  animation-delay: 1s;
}

.stars.l p:nth-of-type(3) {
  top: 64%;
  left: 27%;
  animation-delay: 7s;
}

.stars.l p:nth-of-type(4) {
  top: 77%;
  left: 37%;
  animation-delay: 2s;
}

.stars.l p:nth-of-type(5) {
  top: 27%;
  left: 57%;
  animation-delay: 6s;
}

.stars.l p:nth-of-type(6) {
  top: 74%;
  left: 67%;
  animation-delay: 4s;
}

.stars.l p:nth-of-type(7) {
  top: 7%;
  left: 77%;
  animation-delay: 2s;
}

.stars.l p:nth-of-type(8) {
  top: 87%;
  left: 87%;
  animation-delay: 5s;
}

.stars.l p:nth-of-type(9) {
  top: 77%;
  left: 97%;
  animation-delay: 9s;
}

.stars.l p:nth-of-type(10) {
  top: 17%;
  left: 63%;
  animation-delay: 1s;
}

/* ----------------------タイトル---------------------------- */

.CSS, .JavaScript {
  padding: 20px;
  background: linear-gradient(transparent 70%, #99ccff);
  font-family: 'ヒラギノ角ゴ StdN', 'Hiragino Kaku Gothic StdN', sans-serif;
  font-size: 1em;
}

.JavaScript {
  background: linear-gradient(transparent 70%, #60f06c);
}

h1::before {
  content: attr(data-title);
}

/* ----------カルーセル部品---------------- */

.carouselContainer {
  height: 200px;
  width: 100%;
  overflow: hidden;
  position: relative;
}

ul {
  display: flex;
  list-style: none;
  transition: transform .8s;
  position: absolute;
}

#js-TagId, #js-TagIdSecond {
  display: flex;
  list-style: none;
  transition: transform .8s;
  position: absolute;
}

ul img {
  height: 20vh;
  width: 10em;
  margin: 10px 70px 0 50px;
}

#prev, #next, #prevCarousel, #nextCarousel {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  border: none;
  background: rgba(0, 0, 0, .8);
  color: #fff;
  font-size: 30px;
  padding: 0 8px 4px;
  cursor: pointer;
}

.link {
  /* background-color: rgb(225, 236, 161);
  opacity: 0.7; */
  display: block;
  width: 8em;
  height: 115px;
  position: absolute;
  top: 40px;
  left: 110px;
  bottom: 0;
}

[href*="7th"] {
  /* background-color: rgb(225, 236, 161);
  opacity: 0.7; */
  display: block;
  width: 8em;
  height: 115px;
  position: absolute;
  top: 40px;
  left: 390px;
  bottom: 0;
}

[href*="6th"] {
  /* background-color: rgb(225, 236, 161);
  opacity: 0.7; */
  display: block;
  width: 8em;
  height: 115px;
  position: absolute;
  top: 40px;
  left: 670px;
  bottom: 0;
}

[href*="5th"] {
  /* background-color: rgb(225, 236, 161);
  opacity: 0.7; */
  display: block;
  width: 8em;
  height: 115px;
  position: absolute;
  top: 40px;
  left: 950px;
  bottom: 0;
}

[href*="second"] {
  /* background-color: rgb(225, 236, 161);
  opacity: 0.7; */
  display: block;
  width: 8em;
  height: 115px;
  position: absolute;
  top: 40px;
  left: 1227px;
  bottom: 0;
}

[href*="3th"] {
  /* background-color: rgb(225, 236, 161);
  opacity: 0.7; */
  display: block;
  width: 8em;
  height: 115px;
  position: absolute;
  top: 40px;
  left: 1510px;
  bottom: 0;
}

[href*="third"] {
  /* background-color: rgb(225, 236, 161);
  opacity: 0.7; */
  display: block;
  width: 8em;
  height: 115px;
  position: absolute;
  top: 40px;
  left: 1790px;
  bottom: 0;
}

#prev:hover, #next:hover #prevCarousel:hover, #nextCarousel:hover {
  opacity: 0.7;
}

#prev, #prevCarousel {
  left: 0px;
}

#next, #nextCarousel {
  right: 0px;
}

.hidden {
  display: none;
}

nav, #nav {
  margin-left: 24%;
}

#js-nav {
  margin-left: 37%;
}

nav {
  margin: 10px 30px 0;
  height: 16px;
}

#nav button, #js-nav button {
  margin-right: 15px;
  border: none;
  width: 16px;
  height: 16px;
  background: #ddd;
  border-radius: 50%;
  cursor: pointer;
}

#nav>.current, #js-nav>.current {
  background: rgb(88, 87, 87);
}

[href*="omikuji"] {
  /* background-color: rgb(232, 241, 191);
  opacity: 0.7; */
  display: block;
  width: 8em;
  height: 115px;
  position: absolute;
  top: 40px;
  left: 107px;
  bottom: 0;
}

[href*="8th"] {
  /* background-color: rgb(232, 241, 191);
  opacity: 0.7; */
  display: block;
  width: 8em;
  height: 115px;
  position: absolute;
  top: 40px;
  left: 390px;
  bottom: 0;
}

[href*="9th"] {
  /* background-color: rgb(232, 241, 191);
  opacity: 0.7; */
  display: block;
  width: 8em;
  height: 115px;
  position: absolute;
  top: 40px;
  left: 670px;
  bottom: 0;
}

/* アコーディオン */

.acoordion {
  width: 500px;
  margin: 0 auto;
}

.accordion-trigger {
  margin-top: 10px;
  padding: 10px;
  display: block;
  background: #1d1c1c ;
  color: #FFF;
  border: 1px solid rgb(2, 2, 2);
  text-decoration: none;
}

.accordion-contents {
  margin: 0;
  padding: 10px;
  border: 1px solid #000;
  display: none;
}

/* ----------------600px----------------------- */

@media (min-width:600px) {
  body {
    max-width: 1000px;
  }
  /* ---------ハンバーガーメニュー */
  .material-icons {
    margin-right: 10px;
  }
  .overlay li {
    margin: 10% 15% 0 0;
  }
  /* ---------星部品 */
  div.container {
    width: 100%;
    height: 300px;
    margin: -30px 0 0 3px;
  }
  h1.StudyRecord {
    margin-left:3%;
    font-size: 7em;
    position: relative;
    top: 10%;
    left: 20%;
  }
  /* ---------タイトル */
  .CSS, .JavaScript {
    padding: 30px;
    font-size: 2em;
  }
  /* ---------カルーセル */
  .carouselContainer {
    height: 300px;
    width: 100%;
    overflow: hidden;
    position: relative;
  }
  ul img {
    height: 25vh;
    width: 12em;
    margin: 10px 100px 0 50px;
  }
  nav, #nav, #js-nav {
    margin-left: 37%;
  }
  #nav button, #js-nav button {
    margin-right: 20px;
  }
  /* --------カルーセルリンク */
  .link {
    width: 10em;
    height: 140px;
    position: absolute;
    top: 45px;
    left: 110px;
  }
  [href*="7th"] {
    width: 10em;
    height: 140px;
    position: absolute;
    top: 45px;
    left: 450px;
  }
  [href*="6th"] {
    width: 10em;
    height: 140px;
    position: absolute;
    top: 45px;
    left: 800px;
  }
  [href*="5th"] {
    width: 10em;
    height: 140px;
    position: absolute;
    top: 45px;
    left: 1140px;
  }
  [href*="second"] {
    width: 10em;
    height: 140px;
    position: absolute;
    top: 45px;
    left: 1475px;
  }
  [href*="3th"] {
    width: 10em;
    height: 140px;
    position: absolute;
    top: 45px;
    left: 1830px;
  }
  [href*="third"] {
    width: 10em;
    height: 140px;
    position: absolute;
    top: 45px;
    left: 2160px;
  }
  nav, #nav {
    margin: 0 0 5% 30%;
  }
  #js-nav {
    margin: 0 0 5% 40%;
  }
  #nav button, #js-nav button {
    margin-right: 30px;
  }
  [href*="omikuji"] {
    display: block;
    width: 10em;
    height: 150px;
    position: absolute;
    top: 40px;
    left: 107px;
  }
  [href*="8th"] {
    display: block;
    width: 10em;
    height: 150px;
    position: absolute;
    top: 40px;
    left: 450px;
  }
  [href*="9th"] {
    display: block;
    width: 10em;
    height: 150px;
    position: absolute;
    top: 40px;
    left: 790px;
  }
}

/* ----------------1024px----------------------- */

@media(min-width:1024px) {
  #open, #close {
    font-size: 1em;
    width: 15em;
  }
  #modal>p {
    margin: 0 0 20px;
    width: 20em;
  }
  #modal {
    width: 20em;
  }
  .overlay li {
    margin: 10% 10% 0 0;
  }
  /* ---------星部品 */
  div.container {
    height: 400px;
  }
  h1.StudyRecord {
    font-size: 10em;
    position: relative;
    top: 20%;
    left: 20%;
  }
  /* ---------タイトル */
  .CSS, .JavaScript {
    padding: 40px;
    font-size: 3em;
  }
  /* ---------カルーセル */
  .carouselContainer {
    height: 300px;
    width: 100%;
    overflow: hidden;
    position: relative;
  }
  ul img {
    height: 30vh;
    width: 14em;
    margin: 10px 100px 0 50px;
  }
  nav, #nav, #js-nav {
    margin-left: 37%;
  }
  nav {
    margin: 50px 50px 0;
  }
  #nav button, #js-nav button {
    margin-right: 30px;
  }
  /* --------カルーセルリンク */
  .link {
    width: 11em;
    height: 20vh;
    position: absolute;
    top: 55px;
    left: 116px;
  }
  [href*="7th"] {
    width: 11em;
    height: 20vh;
    position: absolute;
    top: 55px;
    left: 488px;
  }
  [href*="6th"] {
    width: 11em;
    height: 20vh;
    position: absolute;
    top: 55px;
    left: 860px;
  }
  [href*="5th"] {
    width: 11em;
    height: 20vh;
    position: absolute;
    top: 55px;
    left: 1235px;
  }
  [href*="second"] {
    width: 11em;
    height: 20vh;
    position: absolute;
    top: 55px;
    left: 1610px;
  }
  [href*="3th"] {
    width: 11em;
    height: 20vh;
    position: absolute;
    top: 55px;
    left: 1985px;
  }
  [href*="third"] {
    width: 11em;
    height: 20vh;
    position: absolute;
    top: 55px;
    left: 2360px;
  }
  nav, #nav {
    margin: 5% 0 5% 40%;
  }
  #js-nav {
    margin: 5% 0 5% 50%;
  }
  #nav button, #js-nav button {
    margin-right: 30px;
  }
  [href*="omikuji"] {
    width: 11em;
    height: 22vh;
    position: absolute;
    top: 40px;
    left: 115px;
  }
  [href*="8th"] {
    width: 11em;
    height: 22vh;
    position: absolute;
    top: 40px;
    left: 485px;
  }
  [href*="9th"] {
    width: 11em;
    height: 22vh;
    position: absolute;
    top: 40px;
    left: 860px;
  }
}

/* ------------箱パーツ---------- */

/* .ten {
  display: inline-block;
  width: 10px;
  height: 10px;
  background-color: rgb(247, 239, 239);
  border-radius: 50%;
  position: relative;
  top: -245px;
  left: 149px;
} */

/* 箱部品 */

/* section.hako {
  margin: 0 0 0 50px;
  width: 220px;
  height: 250px;
  background-color: #FA8BFF;
  background-image: linear-gradient(45deg, #FA8BFF 0%, #2BD2FF 52%, #2BFF88 90%);
  border-radius: 10%;
  border-top: 40px solid rgb(2, 2, 2);
  border-left: 20px solid rgb(2, 2, 2);
  border-right: 20px solid rgb(2, 2, 2);
  border-bottom: 30px solid rgb(2, 2, 2);
  box-sizing: border-box;
  box-shadow: -6px -5px 8px grey;
}

section.hako>p {
  font-size: 30px;
  text-align: center;
  margin-top: 60px;
  font-weight: bold;
}

.wwww{
height: 180px;
width: 180px;
margin-top: -60px;
} */

/* リンクを貼るための部品 */

/* section.hako>a {
  display: block;
  color: #000;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  margin: 0px;
  position: relative;
  top: -159px;
  width: 100%;
  height: 100%;
  background-color: rgb(204, 20, 134);
} */